body {
  background-color: black
}

canvas {
  background-color: black
}

#background {
  position: fixed;
  z-index: -1;
}

#button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#panel {
  position: absolute;
  bottom: 15px;
  left: 15px;
}