body {
    display: flex;
    align-items: center;
    background-color: grey;
    margin-top: 30px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

#controls {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-bottom: 20px;
}

#controls__button--green {
    background: green;
    border-color: green;
}

#controls__button--red {
    background: red;
    border-color: red;
}

#controls__button--grey {
    color: black;
    background: lightgray;
    border-color: lightgray;
}

#content {
    display: flex;
}

#information {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 260px
}

#information h3 {
    text-align: center
}

#information div {
    padding: 5px;
}

#information span {
    color: red;
    font-weight: bold
}